html {
  height: 100vh;
  background-color: #161616;
  background-attachment: fixed;
}
body header nav {
  color: white;
}
body header nav ul:nth-child(1) li {
  font-size: 110%;
}
body header nav ul:nth-child(1) li a {
  text-decoration: none;
  color: white;
}
body header nav ul:nth-child(2) li {
  width: fit-content;
  height: fit-content;
  padding: 1%;
}
body header nav ul:nth-child(2) li a {
  text-decoration: none;
  color: white;
}
