html {
  height: 100vh;
  background-color: #161616;
  background-attachment: fixed;
}
body header nav {
  color: white;
}
body header nav ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
}
body header nav ul li {
  width: fit-content;
  height: fit-content;
  padding: 1%;
  margin-top: 2%;
}
body header nav ul li a {
  text-decoration: none;
  color: white;
}
body header nav ul li:nth-child(1) {
  position: absolute;
  font-size: 110%;
  left: 5%;
}
body main div p {
  color: white;
}
body main div p:nth-child(1) {
  position: absolute;
  font-size: 110%;
  text-align: center;
  top: 50%;
  left: 45%;
}
body main div img {
  filter: grayscale();
  position: absolute;
  bottom: 0%;
  left: 40%;
  width: 45%;
  opacity: 0.5;
}
