@color_fons: rgb(22, 22, 22);

html{
    height: 100vh;
    background-color: @color_fons;
    background-attachment: fixed;  
}

body{
    header{
        nav{
         color: white;
         ul:nth-child(1){
            display: block;
            li{
                a{
                    text-decoration: none;
                    color: white;
                }
            }
         }
        }
    }
}
