@color_fons: rgb(22, 22, 22,0.5);
html{
    height: 100vh;
    background-color: @color_fons; 
}

body{
    .tot{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: grey;
        top: 0px;
        bottom: 0px;
        opacity: 0.7;
        z-index: -4;
    }
    header{
        nav{
            ul{
                display: flex;
                justify-content: flex-end;
                padding-right: 4%;
                li{
                    width: fit-content;
                    height: fit-content;
                    margin-top: 3%;
                    padding-left: 2%;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                    p{
                        color: white;
                    }
                }

                li:nth-child(1){
                    position: absolute;
                    font-size: 110%;
                    left: 3%;
                }
                li:nth-child(2){
                    position: absolute;
                    font-size: 110%;
                    left: 42%;
                }
                li:nth-child(3){
                    position: absolute;
                    font-size: 110%;
                    left: 45.5%;
                }
                li:nth-child(4){
                    position: absolute;
                    font-size: 110%;
                    left: 46.5%;
                }
            }
        }
    }
    main{
        font-size: 170%;
        text-align: center;
        margin-top: 16%;
        .capitol1{
            a{
                text-decoration: none;
            }
            p{
                margin-top: 0.5%;
                color: white;
                -webkit-text-stroke: 0.8px black
            }
        }  

        .capitol2{
            a{
                text-decoration: none;
            }

            p{
                color: white;
                margin-top: 0.5%;
                -webkit-text-stroke: 0.8px black
            }

            p:nth-child(1){
                margin-top: 5%;
            }
        }
    }
    height: 100%;
}