// @altura_Producte: 70px;
// @amplada_Producte: 35px;

#practica3{
    height: 100%;
    body{
        height: 100%;
        display: flex;
        flex-direction: column;

        header{
            display: flex;

            //Aquí toquem tot el tema de la imatge de fons
            background-image: url(../Imatges/header.jpg);
            background-image: no-repeat;
            background-image: fixed;
            background-image: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            //fins aqui

            height: 16%;
            width: 100%;
            align-items: center;
            justify-content: center;
            p{  
                //Aquí tot lo relaciont amb la font
                font-family: "Courier New", Courier, monospace;
                font-size: 25px;
                letter-spacing: 1.6px;
                word-spacing: 3.8px;
                color: #000000;
                font-weight: 700;
                text-decoration: none solid rgb(68, 68, 68);
                font-style: normal;
                font-variant: normal;
                text-transform: uppercase;
                text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #000000 0px 0px 20px, #000000 0px 0px 30px, #000000 0px 0px 40px, #000000 0px 0px 50px, #000000 0px 0px 75px, -40px -40px 0px rgba(206,89,55,0);
                //Fins aqui

                font-size: 270%;
            }
        }

        main{
            display: flex;
            flex: 1;  
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 5%;

            div{
                flex: auto;
                background-color: aqua;
                width: 50%;
                height: 50%;
            }
        }
    }
}